<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,2_8.3_12F5037c_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-17383-013.dmg</string>
	<key>RootFilesystemKey</key>
	<string>f967124268e93f00c78510c60d9459cf752956e2017afe3c76264b48ca162f117342e0ae</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA256</key>
	<string>ffa1d3590bff4367154881b5cdeca8a1b1d57fcef2b4668c817220977dcb3bcf</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia8.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios8</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>1a3eddab25a13cb7e71a022f1747b5f7</string>
			<key>Key</key>
			<string>0952449f5aa6b72eca738329c5c77c4596e55cae28da7229caf06e8bd5329c5a</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>2bf3b5fffd5a938b50b0d8b9e045fa59</string>
			<key>Key</key>
			<string>6c1528d8e6d0e358faba258c6f4798a1291cce3775517f44473f5d8daffc2f11</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-17211-013.dmg</string>
			<key>IV</key>
			<string>ed0671bd8085a1137d58e3d679fe16c5</string>
			<key>Key</key>
			<string>7d81c8febab018efc52429f5bc236257a2b78054d6a0ee14009dd81ae1e57196</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>2cbbc508652a09e7f06a20a3d7b92864</string>
			<key>Key</key>
			<string>5a53155a27b58fb7e82826bf98a1697941ce23438b5083f19b3114fa345b1314</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>4ebbbb5c2f7cb88b8268dbd3da5e925f</string>
			<key>Key</key>
			<string>4ce5d3599a5af4068fd315639ceb229260416c8cf16994eda3fe924e793cc6cf</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>c99c1333481de102d6ebc4bc4c1149d2</string>
			<key>Key</key>
			<string>a50d713956bf08715e07cae3e01ee80a7ae85e166ad11829b16aa768e768f4b6</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot8.n42.RELEASE.img3</string>
			<key>IV</key>
			<string>e4e9b51d96bb29a8cdd0265f06461994</string>
			<key>Key</key>
			<string>b42f8fcb6b386960afd0a079c8671b90de04f30686f6bcdbaa8a7e57a0f378fc</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
