<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,2_9.3.2_13F51a_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-36648-054.dmg</string>
	<key>RootFilesystemKey</key>
	<string>92db0d7f4663dab6aa13d38dba5252f39e418348a014633c5a8b87b97b37c240e64d6ad4</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA256</key>
	<string>c866f22fda4d107c13d3eb798aff70f85dcec46dfa04b055aa51a704efd49dbe</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>41e28c7248477494fee2024a352a1b15</string>
			<key>Key</key>
			<string>f6ecda28bc3743287e9406d9260a2800c92b39b5b6b9cb24cfbab90152eae5bc</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>81b395e4a17d3e0f09537f005ca71e87</string>
			<key>Key</key>
			<string>2f370a1d493b75fdf220d3e967750e1286e4074496bd29fa84e4cc2765b9e696</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-37546-054.dmg</string>
			<key>IV</key>
			<string>038f50e108ea57af221b91699c7d4a32</string>
			<key>Key</key>
			<string>30fd96f7c94f999fb7268433e8a8aaaa8026f8e3b92a8e82720f3059ac5dec52</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>4291828ada8b3ce7cdcf7f64aa4976b0</string>
			<key>Key</key>
			<string>f06daeb4cd990e3d457f1cd92de2e5c0cd50bbaa773d623e8974a17f0c0b67d1</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>41c8de0d18a7955b416a09348132d527</string>
			<key>Key</key>
			<string>59d261126f12c8fd37e157db88c3615f6c3a5db8a1ccc7b2f611e4bdb7dd21c0</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>8963b839192ec4a0fb9b99d88f9e5281</string>
			<key>Key</key>
			<string>d576ac1bd03e795f0187483473c3315346b59be0bd683d078671768b44aa8be4</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot9.n42.RELEASE.img3</string>
			<key>IV</key>
			<string>17d1d20ecef2ee22151b5d880b7deb1c</string>
			<key>Key</key>
			<string>f42bd0558931366ca2e4c072bfea2112fe159002f58795401b5f9f1101499199</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
