<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,2_6.1.1_10B311_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>048-0356-012.dmg</string>
	<key>RootFilesystemKey</key>
	<string>dd8244007374fe6a9a435f47658667a9f63b7e60d5ef69db25425ef973300ecfebcd67eb</string>
	<key>RootFilesystemSize</key>
	<integer>1300</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA256</key>
	<string>ba9b4ce4a6b62cf7b99b73e923ce4478f8ef0cf2b972b8014ed2075dfd02ba6d</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia6.tar</string>
		<key>package</key>
		<string>src/ios6.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios6</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>ca2f0b7009e5dde839d56923ca746de3</string>
			<key>Key</key>
			<string>106405a007889a297fe5b0d301624f1efaf9da70b2084ec9f045629786fe0e7b</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9278f3755ed425af8aefe75918f53851</string>
			<key>Key</key>
			<string>b8e7ec60f2032834dd4bc983b09082dac7655d83893f57338decbf75a0e4a963</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-0386-012.dmg</string>
			<key>IV</key>
			<string>27849ea7788810135946ed4b2c2fe0cf</string>
			<key>Key</key>
			<string>ca688a54651b027f0bcc8c720ec63d6162711d793ad66ba545b2489ba8361bf7</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>7a4800738cbb3c1daee99cc543a3b235</string>
			<key>Key</key>
			<string>db13c7f2ee1f2c9a23f9ebe082a6cc6c3addded6d9497eeb0e93ec6eff0c498b</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
			<key>IV</key>
			<string>7c7197d174bffc40d8350b62693a14f5</string>
			<key>Key</key>
			<string>657be25342ed7634b2af43c6ccfac1e1aa3ead361283b42e2ab09471624112cb</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>2931fc9892f694c6eecd982e3356d242</string>
			<key>Key</key>
			<string>ed6d780dae22df43dda6f1512736efe26822a01fc0df9d6c7a63bd576fd1bd1e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo7@2x.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@2x.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode7@1136~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42ap.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot6.n42ap.RELEASE.img3</string>
			<key>IV</key>
			<string>eda2282a528798ba838017567a102dfb</string>
			<key>Key</key>
			<string>346b76e7b5b2e4200467d8ffe499f671e4dc84440b3fecc21607931f74de446b</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
