<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,2_9.3_13E5214d_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-35154-031.dmg</string>
	<key>RootFilesystemKey</key>
	<string>873da827a8ff835e930fd65183023ac0d8fc00b8af42799a6e696687e8e5f453b9eb8101</string>
	<key>RootFilesystemSize</key>
	<integer>2500</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA256</key>
	<string>ecb8e4544f5a234f768a65ec4419b2a0d48b793bb5a219ef805ebf63c8cad149</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>1d0c45f2ea01c4c543c00ddcb82ba5da</string>
			<key>Key</key>
			<string>0dbd52e7172f39945d3fb27b7cbad8cc18ba6d6ec9bbd657afc24e3db3745337</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>c78fe35ffa5fc9d1707b61f75e736d95</string>
			<key>Key</key>
			<string>eec58e75ed9ad4da804e6b73a96e6fcdbb29707ac652ea4f655a8ca2bf3ebaba</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-35319-031.dmg</string>
			<key>IV</key>
			<string>3c0dd43e1c2deef7901ef343f3301c8a</string>
			<key>Key</key>
			<string>1cbff833f0bea07e2e8a70ebae8e893871e350e955767451b0c317b711ec064a</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>da64795d68f27ff947c10c6cdfce509d</string>
			<key>Key</key>
			<string>6501881faa3b823787316843298cb700050bbeb6d5efb505d7910d44ddb89faa</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>04c76d21f5b0edba52755272bac6b2f2</string>
			<key>Key</key>
			<string>b6c6273ed71db027d4e2dcf3ca045699aa2080216b60585e720bf11a36e859d5</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>327d8ebb9599c98a2c1af5cf497618c0</string>
			<key>Key</key>
			<string>053058c8081475b8e3b1b888efadb35c9aac82876ed7b68c7fd522a345160a36</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot9.n42.RELEASE.img3</string>
			<key>IV</key>
			<string>799b1deae64e52041d30a633ef541af1</string>
			<key>Key</key>
			<string>1613ec2ff963c2216d5dc5f2c2cb0078ab0e9c002d6ce29a721df38f26ac6914</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
